The following list contains temperatures from Ironhack office during the summer. If the temperatures are above 25 at any point we should install a better AC in the room.

In [1]:
temp_hourly = [16, 18, 20, 21, 21, 22, 24, 26, 28, 30, 31, 32]

In [4]:
for i in temp_hourly:
    if i > 25:
        print(i)

26
28
30
31
32

In [7]:
temp_quarterly=[[18, 18, 19, 55], [20, 20, 21, 21], [22, 24, 24, 25], [26, 27, 26, 28], [28, 29, 32, 31], [30, 26, 25, 24]]

In [3]:
new_list=["new"]

In [5]:
for list_temp in temp_quarterly:
    for temp_q in list_temp:
        if temp_q > 25:
            print(temp_q)

26
27
26
28
28
29
32
31
30
26

In [8]:
for above25 in temp_quarterly:
    if above25[0] > 25:
        print (above25)

[26, 27, 26, 28]
[28, 29, 32, 31]
[30, 26, 25, 24]

# Save in a new list temperatures above 25ÂºC

In [9]:
temp_hourly = [16, 18, 20, 21, 21, 22, 24, 26, 28, 30, 31, 32]

In [11]:
temp_quarterly=[[18, 18, 19, 55], [20, 20, 21, 21], [22, 24, 24, 25], [26, 27, 26, 28], [28, 29, 32, 31], [30, 26, 25, 24]]

In [21]:
new_quarter= []

for above25 in temp_quarterly:
    for insideabove in above25:
        if insideabove > 25:
            new_quarter.append(insideabove)
            
print(new_quarter)

[55, 26, 27, 26, 28, 28, 29, 32, 31, 30, 26]

#What's the difference between the first and last temperature

In [16]:
temp_above25[-1]-temp_above25[0]

6

In [17]:
len(temp_above25)

5

#What's the difference between the max and min temperature

In [18]:
max(temp_above25)-min(temp_above25)

6

In [19]:
max(temp_quarterly)

[30, 26, 25, 24]

In [20]:
mean(temp_above25)

NameError: name 'mean' is not defined

In [22]:
import numpy as np

In [23]:
np.mean(temp_above25)

29.4

In [24]:
np.average(temp_above25)

29.4

In [26]:
np.std(temp_above25)

2.1540659228538015

#Repeat the task but do it with list comprehension

In [10]:
temp_above25 = [] #Where im going to save temps above 25

for temp in temp_hourly:
    if temp > 25:
        temp_above25.append(temp)
        
print(temp_above25)

[26, 28, 30, 31, 32]

In [27]:
temp_hourly = [16, 18, 20, 21, 21, 22, 24, 26, 28, 30, 31, 32]

#List comprehension

In [32]:
[___ for temp in temp_hourly if temp > 25]

[[1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1]]

In [38]:
print(temp_quarterly)

[[18, 18, 19, 55], [20, 20, 21, 21], [22, 24, 24, 25], [26, 27, 26, 28], [28, 29, 32, 31], [30, 26, 25, 24]]

In [40]:
print([temp for list_temp in temp_quarterly for temp in list_temp])

[18, 18, 19, 55, 20, 20, 21, 21, 22, 24, 24, 25, 26, 27, 26, 28, 28, 29, 32, 31, 30, 26, 25, 24]